body{
	margin: 0;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 25px; 

}
/*Header Styles*/
header{
	background-color: #450C46;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

header h1{
	color: white;
	font-size: 90px;
	text-shadow: 0 4px 50px #bbff0f;
}

h1,h2{
	font-family: 'Lacquer', sans-serif;
}

header img{
	border-radius: 170px;
	border:10px solid #ffffff;
	box-shadow: 0 4px 20px black;
}

h2{
	font-size: 30px;
	color: #450C46;
	margin: 40px 0 10px;
	text-shadow: 0 2px 9px #bbff0f;
}

/*Main Elements*/
main{
	max-width: 800px;
	margin:0 auto;
	padding: 20px;

}

main img{
	max-width: 100%;
}

a{
	color:#450C46;
	font-weight: bold;

}

a:hover{
	color: #7FB912;
}
blockquote{
	color: #7FB912;
	display: block;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
}
/*Footer Elements*/
footer{
	background-color: #450C46;
	text-align: center;
	color: white;
	padding: 50px;

}
footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color:#999999;
	font-style: italic;
	margin-top: 0;
}